.container {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ol {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66%;
}

.col-10 {
  width: 83.33%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66%;
}

.col-7 {
  width: 58.33%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.12%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66%;
}

.col-1 {
  width: 8.88%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.btn__white {
  border-radius: 22px;
  -webkit-filter: drop-shadow(0px 13px 16px rgba(103, 103, 103, 0.05));
          filter: drop-shadow(0px 13px 16px rgba(103, 103, 103, 0.05));
  background-color: #fff;
  color: #120f10;
}

.btnBlue {
  border-radius: 29px;
  -webkit-filter: drop-shadow(0px 13px 16px rgba(103, 103, 103, 0.05));
          filter: drop-shadow(0px 13px 16px rgba(103, 103, 103, 0.05));
  background-color: #0071e3;
  color: #fff;
}

.btnBlue:hover {
  background-color: #004b96;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn__transparent {
  border-radius: 29px;
  background-color: transparent;
  border: 2px solid #0071e3;
  color: #0071e3;
}

.header {
  background: #120f10;
  padding: 7px 0;
}

.header__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  padding: 0 20px;
}

.header__link {
  position: relative;
  font-size: 17px;
  line-height: 27px;
  color: #fff;
  font-weight: 300;
}

.header__link::before {
  position: absolute;
  content: '';
  width: 0;
  height: 3px;
  background-color: #0071e3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  bottom: -16px;
}

.header__link:hover::before {
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__btn {
  width: 185px;
  height: 44px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
}

.header__icon {
  width: 22px;
  height: 22px;
  fill: #fff;
}

.hero {
  height: 912px;
  background: url(../images/hero/hero-bg.jpg) no-repeat center;
  background-size: cover;
}

.hero__logo {
  padding-top: 36px;
}

.hero__title {
  max-width: 505px;
  font-size: 38px;
  line-height: 54px;
  color: #120f10;
  font-weight: 700;
  padding: 52px 0 56px 0;
}

.hero__form {
  position: relative;
  text-align: center;
  width: 397px;
  height: 489px;
  border-radius: 30px;
  background-color: #f3f3f3;
}

.hero__form::before {
  position: absolute;
  content: "";
  background: url(../images/hero/arrow.svg) no-repeat;
  width: 70px;
  height: 90px;
  fill: #ff702c;
  left: 5px;
  top: -36px;
}

.hero__subtitle {
  padding: 32px 0 17px 59px;
  max-width: 280px;
  font-size: 20px;
  line-height: 27px;
  color: #120f10;
  font-weight: 700;
}

.hero__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 267px;
  height: 58px;
  border-radius: 29px;
  -webkit-filter: drop-shadow(0px 13px 16px rgba(103, 103, 103, 0.05));
          filter: drop-shadow(0px 13px 16px rgba(103, 103, 103, 0.05));
  background-color: #fff;
  margin-bottom: 20px;
  padding-left: 28px;
}

.hero__input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.hero__input:-ms-input-placeholder {
  font-size: 17px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.hero__input::-ms-input-placeholder {
  font-size: 17px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.hero__input::placeholder {
  font-size: 17px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.hero__btn {
  width: 267px;
  height: 58px;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  font-weight: 500;
}

.mission {
  padding: 126px 0 80px 0;
}

.mission__content {
  width: 100%;
  height: 132px;
  border-radius: 10px;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mission__title {
  position: relative;
  max-width: 222px;
  font-size: 19px;
  line-height: 28px;
  color: #120f10;
  font-weight: 700;
  text-transform: uppercase;
}

.mission__title::before {
  position: absolute;
  content: "";
  background: url(../images/mission/bracket.svg) no-repeat;
  width: 25px;
  height: 95px;
  top: -20px;
  left: 250px;
}

.mission__desc {
  max-width: 738px;
  font-size: 18px;
  line-height: 30px;
  color: #120f10;
  font-weight: 500;
}

.conception {
  padding-bottom: 100px;
}

.conception__title {
  font-size: 38px;
  line-height: 54px;
  color: #120f10;
  font-weight: 700;
}

.conception__logo {
  padding: 26px 0 50px 0;
}

.conception__list {
  font-size: 33px;
  line-height: 27px;
  color: #0071e3;
  font-weight: 300;
  list-style-type: decimal-leading-zero;
}

.process {
  background: #f7f7f7;
  padding: 100px 0 120px 0;
}

.process__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process__text {
  max-width: 406px;
  font-size: 17px;
  line-height: 25px;
  color: #120f10;
  font-weight: 400;
}

.process__arrow {
  width: 36px;
  height: 20px;
}

.process__title {
  padding: 100px 0 60px 0;
  font-size: 38px;
  line-height: 54px;
  color: #120f10;
  font-weight: 700;
}

.process__block {
  position: relative;
  width: 218px;
  height: 239px;
  border-radius: 3px;
  background-color: #fff;
  overflow: hidden;
}

.process__block::before {
  position: absolute;
  content: '';
  background: url(../images/process/processArrow2.svg) no-repeat;
  width: 204px;
  height: 20px;
  top: 12px;
}

.process__block:nth-child(1)::after {
  position: absolute;
  content: '';
  background: url(../images/process/decor-1.svg) no-repeat;
  width: 120px;
  height: 100px;
  right: -15px;
  bottom: -10px;
  opacity: 0.1;
}

.process__block:nth-child(2)::after {
  position: absolute;
  content: '';
  background: url(../images/process/decor-2.svg) no-repeat;
  width: 110px;
  height: 100px;
  opacity: 0.1;
  right: -28px;
  bottom: 6px;
}

.process__block:nth-child(3)::after {
  position: absolute;
  content: '';
  background: url(../images/process/decor-3.svg) no-repeat;
  width: 100px;
  height: 100px;
  opacity: 0.1;
  right: -25px;
  bottom: -7px;
}

.process__block:nth-child(4)::after {
  position: absolute;
  content: '';
  background: url(../images/process/decor-4.svg) no-repeat;
  width: 110px;
  height: 90px;
  opacity: 0.1;
  right: -15px;
  bottom: 5px;
}

.process__block:nth-child(5)::after {
  position: absolute;
  content: '';
  background: url(../images/process/decor-5.svg) no-repeat;
  width: 125px;
  height: 100px;
  opacity: 0.1;
  right: -45px;
  bottom: -7px;
}

.process__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.process__desc {
  max-width: 195px;
  font-size: 16px;
  line-height: 25px;
  color: #120f10;
  font-weight: 400;
  padding: 50px 0 0 14px;
}

.process__result {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 77px;
  border-radius: 3px;
  background: #fff;
  font-size: 19px;
  line-height: 25px;
  color: #0071e3;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  cursor: pointer;
}

.process__result::before {
  position: absolute;
  content: '';
  background: url(../images/process/processArrow2.svg) no-repeat;
  width: 310px;
  height: 20px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 170px;
}

.process__result::after {
  position: absolute;
  content: '';
  border-left: 1px solid #0071e3;
  height: 90px;
  right: 169px;
  top: -49px;
}

.works {
  background: #f7f7f7;
  padding: 145px 0 135px 0;
}

.works__title {
  font-size: 38px;
  line-height: 54px;
  color: #120f10;
  font-weight: 700;
  padding-bottom: 60px;
}

.works__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works__col {
  max-width: 531px;
  margin-bottom: 44px;
}

.works__col-top {
  padding-left: 67px;
  background: #fff;
}

.works__subtitle {
  font-size: 18px;
  line-height: 26px;
  color: #120f10;
  font-weight: 700;
  padding: 42px 0 26px 0;
}

.works__question {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #120f10;
  font-weight: 500;
  text-transform: uppercase;
  width: 97px;
  height: 32px;
  border-radius: 16px;
  background-color: #f0f9ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.works__list {
  list-style: circle;
}

.works__item {
  padding-bottom: 25px;
  font-size: 16px;
  line-height: 20px;
  color: #120f10;
  font-weight: 300;
}

.works__col-bottom {
  padding: 20px 0 0 67px;
  background-color: #d3eeff;
  background-repeat: no-repeat;
  background-position: 320px;
}

.works__result {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #120f10;
  font-weight: 500;
  text-transform: uppercase;
  width: 137px;
  height: 32px;
  border-radius: 16px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.works__text {
  font-size: 17px;
  line-height: 22px;
  color: #120f10;
  font-weight: 500;
}

.works__btn {
  margin: 26px 0 46px 0;
  width: 222px;
  height: 58px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

.reviews {
  padding: 140px 0 90px 0;
}

.reviews__title {
  font-size: 38px;
  line-height: 54px;
  color: #120f10;
  font-weight: 700;
}

.reviews__slider {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__item {
  max-width: 558px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 30px;
  margin: 50px 0 60px 0;
  border-radius: 5px;
  background: #f0f9fe;
  z-index: 0;
  overflow: hidden;
}

.reviews__item::before {
  position: absolute;
  content: '';
  background: url(../images/reviews/decor.svg) no-repeat;
  top: -20px;
  left: -30px;
  width: 210px;
  height: 145px;
  z-index: -1;
  opacity: 0.6;
}

.reviews__avatar {
  position: absolute;
  right: 48px;
  top: 26px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 104px;
  height: 104px;
  border-radius: 52px;
}

.reviews__name {
  padding: 100px 0 15px 0;
  font-size: 18px;
  line-height: 27px;
  color: #120f10;
  font-weight: 700;
}

.reviews__specialty {
  max-width: 287px;
  font-size: 16px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
  font-style: italic;
}

.reviews__desc {
  max-width: 465px;
  padding: 30px 0 34px 0;
  font-size: 16px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.reviews__link {
  margin-bottom: 52px;
  font-size: 18px;
  line-height: 27px;
  color: #0071e3;
  font-weight: 500;
  cursor: pointer;
}

.reviews__btn {
  width: 222px;
  height: 58px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.reviews .slick-initialized .slick-slide {
  margin-right: 24px;
  outline: none;
  border: none;
}

.reviews .slick-next.slick-arrow,
.reviews .slick-prev.slick-arrow {
  position: absolute;
  outline: none;
  font-size: 0;
  width: 59px;
  height: 59px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #0071e3;
  top: -55px;
  right: 25px;
}

.reviews .slick-next.slick-arrow::before,
.reviews .slick-prev.slick-arrow::before {
  position: absolute;
  content: '';
  background: url(../images/reviews/slider-arrow.svg) no-repeat;
  width: 20px;
  height: 20px;
  top: 19px;
  left: 20px;
}

.reviews .slick-next.slick-arrow::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 15px;
}

.reviews .slick-prev.slick-arrow {
  right: 100px;
}
