.container {
  max-width: 1140px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body.active {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ol {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66%;
}

.col-10 {
  width: 83.33%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66%;
}

.col-7 {
  width: 58.33%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.12%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66%;
}

.col-1 {
  width: 8.88%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.btn__white {
  border-radius: 22px;
  -webkit-filter: drop-shadow(0px 13px 16px rgba(103, 103, 103, 0.05));
          filter: drop-shadow(0px 13px 16px rgba(103, 103, 103, 0.05));
  background-color: #fff;
  color: #120f10;
}

.btnBlue {
  border-radius: 29px;
  -webkit-filter: drop-shadow(0px 13px 16px rgba(103, 103, 103, 0.05));
          filter: drop-shadow(0px 13px 16px rgba(103, 103, 103, 0.05));
  background-color: #0071e3;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btnBlue:hover {
  background-color: #004b96;
}

.btn__transparent {
  border-radius: 29px;
  background-color: transparent;
  border: 2px solid #0071e3;
  color: #0071e3;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header {
  background: #120f10;
  padding: 7px 0;
}

.header__content {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  padding: 0 20px;
}

.header__dropdown {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  padding-left: 33px;
  width: 184px;
  height: 161px;
  -webkit-filter: drop-shadow(0px 23px 47.5px rgba(35, 31, 32, 0.21));
          filter: drop-shadow(0px 23px 47.5px rgba(35, 31, 32, 0.21));
  background-color: #fff;
  top: 51px;
}

.header__dropdown.active {
  display: block;
}

.header .dropdown__link {
  font-size: 17px;
  line-height: 40px;
  color: #120f10;
  font-weight: 300;
}

.header .dropdown__link:hover {
  color: #0071e3;
}

.header__link {
  position: relative;
  font-size: 17px;
  line-height: 27px;
  color: #fff;
  font-weight: 300;
}

.header__link::before {
  position: absolute;
  content: '';
  width: 0;
  height: 3px;
  background-color: #0071e3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  bottom: -16px;
}

.header__link:hover::before {
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__btn {
  width: 185px;
  height: 44px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
}

.header__icon {
  width: 22px;
  height: 22px;
  fill: #fff;
  cursor: pointer;
  z-index: 100;
}

.header__search {
  display: none;
  position: absolute;
  width: 378px;
  height: 58px;
  background-color: #232021;
  font-size: 17px;
  color: #fff;
  font-weight: 300;
  right: -12px;
  padding-left: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__search::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 27px;
  color: #fff;
  font-weight: 300;
  opacity: 0.6;
  -webkit-user-select: none;
          user-select: none;
}

.header__search:-ms-input-placeholder {
  font-size: 17px;
  line-height: 27px;
  color: #fff;
  font-weight: 300;
  opacity: 0.6;
  -ms-user-select: none;
      user-select: none;
}

.header__search::-ms-input-placeholder {
  font-size: 17px;
  line-height: 27px;
  color: #fff;
  font-weight: 300;
  opacity: 0.6;
  -ms-user-select: none;
      user-select: none;
}

.header__search::placeholder {
  font-size: 17px;
  line-height: 27px;
  color: #fff;
  font-weight: 300;
  opacity: 0.6;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__search.active {
  display: block;
}

.header__connection {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  background: #0000008D;
  z-index: 101;
}

.header__connection.active {
  display: block;
}

.form {
  position: relative;
  width: 676px;
  height: 609px;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.form__title {
  padding-top: 40px;
  font-size: 38px;
  line-height: 54px;
  color: #120f10;
  font-weight: 700;
}

.form__subtitle {
  padding: 15px 0 30px 0;
  font-size: 19px;
  line-height: 27px;
  color: #120f10;
  font-weight: 500;
}

.form__close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.form__inputs {
  max-width: 560px;
  margin: 0 auto;
}

.form__input, .form__textarea {
  padding-left: 30px;
  margin-bottom: 25px;
  border-radius: 29px;
  background-color: #f4f4f4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  font-size: 18px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  font-size: 18px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.form__input::placeholder, .form__textarea::placeholder {
  font-size: 18px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.form__input {
  width: 267px;
  height: 58px;
}

.form__textarea {
  padding-top: 15px;
  max-width: 267px;
  max-height: 225px;
  min-width: 267px;
  min-height: 225px;
  border: none;
  outline: none;
}

.form__btn {
  width: 267px;
  height: 58px;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  font-weight: 500;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero {
  padding: 86px 0 55px 0;
  background: url(../images/hero/hero-bg.webp) no-repeat center;
  background-size: cover;
}

.hero__title {
  max-width: 505px;
  font-size: 38px;
  line-height: 54px;
  color: #120f10;
  font-weight: 700;
  padding: 52px 0 56px 0;
}

.hero__form {
  position: relative;
  text-align: center;
  width: 397px;
  height: 489px;
  border-radius: 30px;
  background-color: #F3F3F39D;
}

.hero__form::before {
  position: absolute;
  content: "";
  background: url(../images/hero/arrow.svg) no-repeat;
  width: 70px;
  height: 90px;
  fill: #ff702c;
  left: 5px;
  top: -36px;
}

.hero__subtitle {
  padding: 32px 0 17px 59px;
  max-width: 280px;
  font-size: 20px;
  line-height: 27px;
  color: #120f10;
  font-weight: 700;
}

.hero__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 267px;
  height: 58px;
  border-radius: 29px;
  -webkit-filter: drop-shadow(0px 13px 16px rgba(103, 103, 103, 0.05));
          filter: drop-shadow(0px 13px 16px rgba(103, 103, 103, 0.05));
  background-color: #fff;
  margin-bottom: 20px;
  padding-left: 28px;
}

.hero__input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.hero__input:-ms-input-placeholder {
  font-size: 17px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.hero__input::-ms-input-placeholder {
  font-size: 17px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.hero__input::placeholder {
  font-size: 17px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.hero__btn {
  width: 267px;
  height: 58px;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  font-weight: 500;
}

.hero__label {
  position: relative;
}

.hero__label::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  background: url(../images/hero/circle.svg) no-repeat center;
  background-size: cover;
}

.hero__check {
  display: none;
}

.hero__check:checked + .hero__label::before {
  background: url(../images/hero/hero-chechBox.svg) no-repeat center;
}

.hero__col {
  margin-top: 300px;
}

.hero__suptitle {
  position: relative;
  margin-left: 70px;
  font-size: 19px;
  line-height: 42px;
  color: #848484;
  font-weight: 700;
}

.hero__suptitle::before {
  position: absolute;
  content: '';
  background: url(../images/hero/hero-hand.svg) no-repeat;
  width: 36px;
  height: 32px;
  left: -50px;
  top: 6px;
}

.hero__suptitle.is-active {
  position: relative;
  color: #0071e3;
}

.hero__suptitle.is-active::before {
  background: url(../images/hero/hero-handBlue.svg) no-repeat;
}

.hero__suptitle.is-active::after {
  position: absolute;
  content: '';
  border: 1px solid #0071e3;
  width: 100%;
  left: 0;
  bottom: 10px;
  opacity: 0.1;
}

.hero__list {
  padding: 20px 0 0 70px;
  list-style-type: none;
}

.hero__item {
  position: relative;
  font-size: 16px;
  line-height: 38px;
  color: #120f10;
  font-weight: 300;
}

.hero__item::marker {
  font-size: 16px;
  line-height: 38px;
  color: #0071e3;
  font-weight: 300;
  text-align: center;
}

.hero__numbering {
  position: absolute;
  font-size: 16px;
  line-height: 38px;
  color: #0071e3;
  font-weight: 300;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: rgba(231, 243, 255, 0);
  border: 2px solid rgba(0, 113, 227, 0.1);
  left: -45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 3px;
}

.mission {
  padding: 126px 0 80px 0;
}

.mission__content {
  width: 100%;
  height: 132px;
  border-radius: 10px;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mission__title {
  position: relative;
  max-width: 222px;
  font-size: 19px;
  line-height: 28px;
  color: #120f10;
  font-weight: 700;
  text-transform: uppercase;
}

.mission__title::before {
  position: absolute;
  content: "";
  background: url(../images/mission/bracket.svg) no-repeat;
  width: 25px;
  height: 95px;
  top: -20px;
  left: 250px;
}

.mission__desc {
  max-width: 738px;
  font-size: 18px;
  line-height: 30px;
  color: #120f10;
  font-weight: 500;
}

.conception {
  padding-bottom: 100px;
}

.conception__title {
  font-size: 38px;
  line-height: 54px;
  color: #120f10;
  font-weight: 700;
}

.conception__logo {
  padding: 26px 0 50px 0;
}

.conception__list {
  font-size: 33px;
  line-height: 27px;
  color: #0071e3;
  font-weight: 300;
  list-style-type: none;
}

.conception__item {
  max-width: 540px;
  position: relative;
  padding: 0 0 40px 70px;
  font-size: 17px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.conception__item::before {
  position: absolute;
  content: '';
  width: 588px;
  height: 1px;
  background-color: #000000;
  opacity: 0.1;
  top: -25px;
}

.conception__item:first-child::before {
  display: none;
}

.conception__numbering {
  position: absolute;
  font-size: 33px;
  line-height: 27px;
  color: #0071e3;
  font-weight: 300;
  left: 0;
  top: 6px;
}

.conception__img {
  margin: 50px 0 0 -65px;
  min-width: 700px;
  min-height: 800px;
}

.process {
  background: #f7f7f7;
  padding: 100px 0 120px 0;
}

.process__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process__text {
  max-width: 406px;
  font-size: 17px;
  line-height: 25px;
  color: #120f10;
  font-weight: 400;
}

.process__arrow {
  width: 36px;
  height: 20px;
}

.process__title {
  padding: 100px 0 60px 0;
  font-size: 38px;
  line-height: 54px;
  color: #120f10;
  font-weight: 700;
}

.process__block {
  position: relative;
  width: 218px;
  height: 239px;
  border-radius: 3px;
  background-color: #fff;
  overflow: hidden;
}

.process__block::before {
  position: absolute;
  content: '';
  background: url(../images/process/processArrow2.svg) no-repeat;
  width: 204px;
  height: 20px;
  top: 12px;
}

.process__block:nth-child(1)::after {
  position: absolute;
  content: '';
  background: url(../images/process/decor-1.svg) no-repeat;
  width: 120px;
  height: 100px;
  right: -15px;
  bottom: -10px;
  opacity: 0.1;
}

.process__block:nth-child(2)::after {
  position: absolute;
  content: '';
  background: url(../images/process/decor-2.svg) no-repeat;
  width: 110px;
  height: 100px;
  opacity: 0.1;
  right: -28px;
  bottom: 6px;
}

.process__block:nth-child(3)::after {
  position: absolute;
  content: '';
  background: url(../images/process/decor-3.svg) no-repeat;
  width: 100px;
  height: 100px;
  opacity: 0.1;
  right: -25px;
  bottom: -7px;
}

.process__block:nth-child(4)::after {
  position: absolute;
  content: '';
  background: url(../images/process/decor-4.svg) no-repeat;
  width: 110px;
  height: 90px;
  opacity: 0.1;
  right: -15px;
  bottom: 5px;
}

.process__block:nth-child(5)::after {
  position: absolute;
  content: '';
  background: url(../images/process/decor-5.svg) no-repeat;
  width: 125px;
  height: 100px;
  opacity: 0.1;
  right: -45px;
  bottom: -7px;
}

.process__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.process__desc {
  max-width: 195px;
  font-size: 16px;
  line-height: 25px;
  color: #120f10;
  font-weight: 400;
  padding: 50px 0 0 14px;
}

.process__result {
  position: relative;
  margin-top: 30px;
  padding-top: 30px;
  width: 100%;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}

.process__result::after {
  position: absolute;
  content: '';
  border-left: 1px solid #0071e3;
  height: 90px;
  right: 169px;
  top: -49px;
}

.process__result.active .result__title {
  color: #120f10;
  text-decoration: none;
}

.process__list {
  list-style-type: unset;
}

.process__list.active {
  display: block;
}

.process__item {
  font-size: 16px;
  line-height: 35px;
  color: #120f10;
  font-weight: 400;
}

.process__item::marker {
  color: #0071e3;
}

.result__title {
  position: relative;
  text-align: center;
  font-size: 19px;
  line-height: 25px;
  color: #0071e3;
  font-weight: 600;
  text-decoration: underline;
  padding-bottom: 30px;
}

.result__title::before {
  position: absolute;
  content: '';
  background: url(../images/process/processArrow2.svg) no-repeat;
  width: 310px;
  height: 20px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 170px;
}

.result__inner {
  position: absolute;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #fff;
  padding-bottom: 36px;
  overflow: hidden;
}

.result__inner::before {
  position: absolute;
  content: '';
  background: url(../images/process/flag.svg) no-repeat;
  opacity: 0.1;
  width: 400px;
  height: 400px;
  left: 30px;
  top: -70px;
}

.result__inner.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works {
  background: #f7f7f7;
  padding: 145px 0 135px 0;
}

.works__title {
  font-size: 38px;
  line-height: 54px;
  color: #120f10;
  font-weight: 700;
  padding-bottom: 60px;
}

.works__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works__col {
  height: 100%;
  max-width: 531px;
  margin-bottom: 44px;
}

.works__col-top {
  padding-left: 67px;
  background: #fff;
}

.works__subtitle {
  font-size: 18px;
  line-height: 26px;
  color: #120f10;
  font-weight: 700;
  padding: 42px 0 26px 0;
}

.works__question {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #120f10;
  font-weight: 500;
  text-transform: uppercase;
  width: 97px;
  height: 32px;
  border-radius: 16px;
  background-color: #f0f9ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.works__list {
  list-style: circle;
}

.works__item {
  padding-bottom: 25px;
  font-size: 16px;
  line-height: 20px;
  color: #120f10;
  font-weight: 300;
}

.works__col-bottom {
  padding: 20px 0 0 67px;
  background-color: #d3eeff;
  background-repeat: no-repeat;
  background-position: 320px;
}

.works__result {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #120f10;
  font-weight: 500;
  text-transform: uppercase;
  width: 137px;
  height: 32px;
  border-radius: 16px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.works__text {
  font-size: 17px;
  line-height: 22px;
  color: #120f10;
  font-weight: 500;
}

.works__btn {
  margin: 26px 0 46px 0;
  width: 222px;
  height: 58px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

.reviews {
  padding: 140px 0 90px 0;
}

.reviews__title {
  font-size: 38px;
  line-height: 54px;
  color: #120f10;
  font-weight: 700;
}

.reviews__slider {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__item {
  max-width: 558px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 30px;
  margin: 50px 0 60px 0;
  border-radius: 5px;
  background: #f0f9ff;
  z-index: 0;
  overflow: hidden;
}

.reviews__item::before {
  position: absolute;
  content: '';
  background: url(../images/reviews/decor.svg) no-repeat;
  top: -20px;
  left: -30px;
  width: 210px;
  height: 145px;
  z-index: -1;
  opacity: 0.6;
}

.reviews__avatar {
  position: absolute;
  right: 48px;
  top: 26px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 104px;
  height: 104px;
  border-radius: 52px;
}

.reviews__name {
  padding: 100px 0 15px 0;
  font-size: 18px;
  line-height: 27px;
  color: #120f10;
  font-weight: 700;
}

.reviews__specialty {
  max-width: 287px;
  font-size: 16px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
  font-style: italic;
}

.reviews__desc {
  max-width: 465px;
  padding: 30px 0 34px 0;
  font-size: 16px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.reviews__link {
  margin-bottom: 52px;
  font-size: 18px;
  line-height: 27px;
  color: #0071e3;
  font-weight: 500;
  cursor: pointer;
}

.reviews__btn {
  width: 222px;
  height: 58px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.reviews .slick-initialized .slick-slide {
  margin-right: 24px;
  outline: none;
  border: none;
}

.reviews .slick-next.slick-arrow,
.reviews .slick-prev.slick-arrow {
  position: absolute;
  outline: none;
  font-size: 0;
  width: 59px;
  height: 59px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #0071e3;
  top: -55px;
  right: 25px;
}

.reviews .slick-next.slick-arrow::before,
.reviews .slick-prev.slick-arrow::before {
  position: absolute;
  content: '';
  background: url(../images/reviews/slider-arrow.svg) no-repeat;
  width: 20px;
  height: 20px;
  top: 19px;
  left: 20px;
}

.reviews .slick-next.slick-arrow::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 15px;
}

.reviews .slick-prev.slick-arrow {
  right: 100px;
}

.articles {
  padding: 120px 0 110px 0;
  background-color: #f7f7f7;
}

.articles__title {
  padding-bottom: 75px;
  font-size: 38px;
  line-height: 54px;
  color: #120f10;
  font-weight: 700;
}

.articles__item {
  position: relative;
  max-width: 364px;
  border-radius: 5px;
  background: #fff;
}

.articles__img {
  width: 365px;
  height: 245px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.articles__date {
  position: absolute;
  width: 152px;
  height: 35px;
  background-color: #0000009D;
  font-size: 21px;
  line-height: 27px;
  color: #fff;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 210px;
}

.articles__subtitle {
  max-width: 300px;
  font-size: 18px;
  line-height: 27px;
  color: #120f10;
  font-weight: 700;
  padding: 30px;
}

.articles__desc {
  max-width: 290px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.articles__link {
  position: relative;
  padding: 52px 0 52px 30px;
  font-size: 18px;
  line-height: 27px;
  color: #0071e3;
  font-weight: 500;
}

.articles__link::before {
  position: absolute;
  content: '';
  background: url(../images/articles/articles-arrow.svg) no-repeat;
  width: 20px;
  height: 14px;
  right: -28px;
  bottom: 57px;
}

.articles__btn {
  width: 222px;
  height: 58px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.articles .slick-initialized .slick-slide {
  margin-right: 24px;
  outline: none;
  border: none;
}

.articles .slick-next.slick-arrow,
.articles .slick-prev.slick-arrow {
  position: absolute;
  outline: none;
  font-size: 0;
  width: 59px;
  height: 59px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #0071e3;
  top: -55px;
  right: 25px;
}

.articles .slick-next.slick-arrow::before,
.articles .slick-prev.slick-arrow::before {
  position: absolute;
  content: '';
  background: url(../images/reviews/slider-arrow.svg) no-repeat;
  width: 20px;
  height: 20px;
  top: 19px;
  left: 20px;
}

.articles .slick-next.slick-arrow::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 15px;
}

.articles .slick-prev.slick-arrow {
  right: 100px;
}

.location {
  position: relative;
}

.location__contact {
  position: absolute;
  top: 100px;
  left: 350px;
  width: 523px;
  height: 388px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 50;
}

.location__title {
  text-align: center;
  padding: 50px 0 30px 0;
  font-size: 38px;
  line-height: 54px;
  color: #120f10;
  font-weight: 700;
}

.location__list {
  margin-left: 125px;
}

.location__item {
  position: relative;
  padding-top: 30px;
  font-size: 18px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.location__item:nth-child(1) {
  padding-top: 0;
  font-size: 22px;
}

.location__item:nth-child(1)::before {
  position: absolute;
  content: '';
  background: url(../../images/location/phone.svg) no-repeat;
  width: 21px;
  height: 21px;
  left: -30px;
}

.location__item:nth-child(2)::before {
  position: absolute;
  content: '';
  background: url(../../images/location/mail.svg) no-repeat;
  width: 21px;
  height: 15px;
  left: -30px;
  top: 36px;
}

.location__item:nth-child(3)::before {
  position: absolute;
  content: '';
  background: url(../../images/location/location.svg) no-repeat;
  width: 18px;
  height: 26px;
  left: -30px;
}

.location__social {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location__link {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: #c9c9c9;
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.location__link:hover {
  background-color: #0071e3;
}

.location__icon {
  width: 20px;
  height: 20px;
}

.footer {
  position: relative;
  background: #000000;
}

.footer__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  max-width: 285px;
  font-size: 12px;
  color: #727272;
  font-weight: 300;
}

.footer__copyright span {
  text-decoration: underline;
}

.footer__phone {
  font-size: 17px;
  line-height: 27px;
  color: #fff;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.footer__logo {
  padding: 23px 0;
}

.footer__btn {
  position: absolute;
  width: 59px;
  height: 59px;
  border-radius: 29px;
  -webkit-filter: drop-shadow(0px 17px 25.5px rgba(0, 113, 227, 0.43));
          filter: drop-shadow(0px 17px 25.5px rgba(0, 113, 227, 0.43));
  background-color: #0071e3;
  top: -30px;
  right: -100px;
}

.footer__btn::before {
  position: absolute;
  content: '';
  background: url(../images/footer/footer-arrow.svg) no-repeat;
  width: 31px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.call {
  position: absolute;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background: #0000008D;
  z-index: 120;
}

.call.active {
  display: block;
}

.call__form {
  position: relative;
  width: 676px;
  height: 449px;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.call__title {
  padding-top: 40px;
  font-size: 38px;
  line-height: 54px;
  color: #120f10;
  font-weight: 700;
}

.call__subtitle {
  padding: 15px 0 30px 0;
  font-size: 19px;
  line-height: 27px;
  color: #120f10;
  font-weight: 500;
}

.call__inputs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.call__input {
  width: 267px;
  height: 58px;
  padding-left: 30px;
  margin: 0 12px 25px 12px;
  border-radius: 29px;
  background-color: #f4f4f4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.call__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.call__input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.call__input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.call__input::placeholder {
  font-size: 18px;
  line-height: 27px;
  color: #120f10;
  font-weight: 300;
}

.call__btn {
  width: 267px;
  height: 58px;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  font-weight: 500;
}

.call__close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.services {
  padding: 130px 0 170px 0;
}

.services__content {
  position: relative;
}

.services__title {
  font-size: 38px;
  line-height: 54px;
  color: #120f10;
  font-weight: 700;
}

.services__circle {
  position: absolute;
  top: 0;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  cursor: pointer;
}

.services__circle:nth-child(1) {
  background: url(../../images/services/circle-1.png) no-repeat center;
  background-size: cover;
  top: 110px;
  left: 250px;
}

.services__circle:nth-child(1)::before {
  position: absolute;
  content: '';
  background: url(../../images/services/line1.svg) no-repeat;
  width: 372px;
  height: 1px;
  top: 50px;
  left: 155px;
}

.services__circle:nth-child(2) {
  background: url(../../images/services/circle-2.png) no-repeat center;
  background-size: cover;
  top: 245px;
  left: 510px;
}

.services__circle:nth-child(2) .services__pointer {
  margin-top: -52px;
}

.services__circle:nth-child(2)::before {
  position: absolute;
  content: '';
  background: url(../../images/services/line2.svg) no-repeat;
  width: 180px;
  height: 180px;
  top: -85px;
  left: 147px;
}

.services__circle:nth-child(3) {
  background: url(../../images/services/circle-3.png) no-repeat center;
  background-size: cover;
  top: 510px;
  left: 400px;
}

.services__circle:nth-child(3) .services__pointer {
  margin-top: -52px;
}

.services__circle:nth-child(3)::before {
  position: absolute;
  content: '';
  background: url(../../images/services/line3.svg) no-repeat;
  width: 227px;
  height: 430px;
  top: -350px;
  left: 150px;
}

.services__circle:nth-child(4) {
  background: url(../../images/services/circle-4.png) no-repeat center;
  background-size: cover;
  top: 510px;
  left: 110px;
}

.services__circle:nth-child(4) .services__pointer {
  margin-top: -28px;
}

.services__circle:nth-child(4)::before {
  position: absolute;
  content: '';
  background: url(../../images/services/line4.svg) no-repeat;
  width: 520px;
  height: 407px;
  top: -350px;
  left: 150px;
}

.services__circle:nth-child(5) {
  background: url(../../images/services/circle-5.png) no-repeat center;
  background-size: cover;
  top: 245px;
}

.services__circle:nth-child(5) .services__pointer {
  margin-top: -52px;
}

.services__circle:nth-child(5)::before {
  position: absolute;
  content: '';
  background: url(../../images/services/line5.svg) no-repeat;
  width: 630px;
  height: 143px;
  top: -85px;
  left: 145px;
}

.services__text {
  font-size: 18px;
  line-height: 26px;
  color: #120f10;
  font-weight: 700;
  text-align: center;
}

.services__pointer {
  width: 26px;
  height: 17px;
  margin: -60px 0 25px 0;
}

.services__btn {
  width: 263px;
  height: 82px;
  border-radius: 41px;
  font-size: 19px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin: 340px 0 0 240px;
}

.services__info {
  position: relative;
  margin: 20px 0 0 15px;
  width: 363px;
  height: 685px;
  border-radius: 3px;
  -webkit-filter: drop-shadow(0px 8px 45px rgba(104, 125, 146, 0.2));
          filter: drop-shadow(0px 8px 45px rgba(104, 125, 146, 0.2));
  background-color: #ffffff;
  overflow: hidden;
}

.services__info:nth-child(2) .services__img {
  bottom: 15px;
}

.services__info:nth-child(3) .services__img {
  bottom: -30px;
}

.services__info::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 32px;
  background-color: #0071e3;
  top: 70px;
}

.services__img {
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.info__list {
  padding: 55px 0 0 50px;
  list-style-type: unset;
}

.info__item {
  max-width: 290px;
  padding-bottom: 25px;
  font-size: 16px;
  color: #120f10;
  font-weight: 300;
}

.info__item::marker {
  color: #0071e3;
}

.info__btn {
  margin: 15px 0 0 55px;
  width: 222px;
  height: 58px;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  font-weight: 500;
}

#circle-1::before,
#circle-2::before,
#circle-3::before,
#circle-4::before,
#circle-5::before {
  display: none;
}

#circle-1.active::before,
#circle-2.active::before,
#circle-3.active::before,
#circle-4.active::before,
#circle-5.active::before {
  display: block;
}

#infoBlock-2,
#infoBlock-3,
#infoBlock-4,
#infoBlock-5 {
  display: none;
}

#infoBlock-2.active,
#infoBlock-3.active,
#infoBlock-4.active,
#infoBlock-5.active {
  display: block;
}
