.header {
    background: $color-black;
    padding: 7px 0;
    &__content {
        position: relative;
        justify-content: space-between;
        align-items:center;
    }
    &__item {
        padding: 0 20px;
    }
    &__dropdown {
        position: absolute;
        box-sizing: border-box;
        display: none;
        padding-left: 33px;
        width: 184px;
        height: 161px;
        filter: drop-shadow(0px 23px 47.5px rgba(35,31,32,0.21));
        background-color: $color-white;
        top: 51px;
        &.active {
            display: block;
        }
    }
    .dropdown {
        &__link {
            font-size: 17px;
            line-height: 40px;
            color: $color-black;
            font-weight: 300;;
            &:hover {
                color: $color-blue;
            }
        }
    }
    &__link {
        position: relative;
        font-size: 17px;
        line-height: 27px;
        color: $color-white;
        font-weight: 300;
        // &:hover{
        //     &:first-child{
        //         .header__dropdown {
        //             display: block;
        //         }
        //     }
        // }
        &::before {
            position: absolute;
            content: '';
            width: 0;
            height: 3px;
            background-color: $color-blue;
            transition: 0.3s;
            bottom:-16px;
        }
        &:hover::before {
            width: 100%;
            transition: 0.3s;
        }
    }
    &__btn {
        width: 185px;
        height: 44px;
        font-size: 17px;
        line-height: 27px;
        font-weight: 400;
    }
    &__icon {
        width: 22px;
        height: 22px;
        fill: $color-white;
        cursor: pointer;
        z-index: 100;
    }
    &__search {
        display: none;
        position: absolute;
        width: 378px;
        height: 58px;
        background-color: #232021;
        font-size: 17px;
        color: $color-white;
        font-weight: 300;
        right: -12px;
        padding-left: 23px;
        box-sizing:border-box;
        &::placeholder {
            font-size: 17px;
            line-height: 27px;
            color: $color-white;
            font-weight: 300;
            opacity: 0.6;
            user-select: none;
        }
        &.active {
            display: block;
        }
    }
}

// width: 676px;
// height: 449px;
// border-radius: 5px;
// background-color: #ffffff;