.hero {
    padding: 36px 0 55px 0;
    background:url(../images/hero/hero-bg.jpg) no-repeat center;
    background-size: cover;
    &__title {
        max-width: 505px;
        font-size: 38px;
        line-height: 54px;
        color:$color-black;
        font-weight: 700;
        padding: 52px 0 56px 0;
    }
    &__form {
        position: relative;
        text-align: center;
        width: 397px;
        height: 489px;
        border-radius: 30px;
        background-color: #F3F3F39D;
        &::before {
            position: absolute;
            content: "";
            background: url(../images/hero/arrow.svg) no-repeat;
            width: 70px;
            height: 90px;
            fill: #ff702c;
            left:5px;
            top: -36px;
        }
    }
    &__subtitle {
        padding: 32px 0 17px 59px;
        max-width: 280px;
        font-size: 20px;
        line-height: 27px;
        color: $color-black;
        font-weight: 700;
    }
    &__input {
        box-sizing: border-box;
        width: 267px;
        height: 58px;
        border-radius: 29px;
        filter: drop-shadow(0px 13px 16px rgba(103,103,103,0.05));
        background-color: $color-white;
        margin-bottom: 20px;
        padding-left: 28px;
        &::placeholder {
            font-size: 17px;
            line-height: 27px;
            color: $color-black;
            font-weight: 300;
        }
    }
    &__btn {
        width: 267px;
        height: 58px;
        font-size: 18px;
        line-height: 27px;
        color: $color-white;
        font-weight: 500;
    }
    &__label {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 26px;
            height: 26px;
            background: url(../images/hero/circle.svg) no-repeat center;
            background-size: cover;
        }
    }
    &__check {
        display: none;
        &:checked {
            +.hero__label {
                &::before {
                    background: url(../images/hero/hero-chechBox.svg) no-repeat center;
                }
            }
        }
    }
    &__col {
        margin-top: 300px;
    }
    &__suptitle {
        position: relative;
        margin-left: 70px;
        font-size: 19px;
        line-height: 42px;
        color: $color-gray;
        font-weight: 700;
        &::before {
            position: absolute;
            content: '';
            background: url(../images/hero/hero-hand.svg) no-repeat;
            width: 36px;
            height: 32px;
            left: -50px;
            top: 6px;
        }
        &.is-active {
            position: relative;
            color:$color-blue;
            &::before {
                background: url(../images/hero/hero-handBlue.svg) no-repeat;
            }
            &::after {
                position: absolute;
                content: '';
                border: 1px solid $color-blue;
                width: 100%;
                left: 0;
                bottom: 10px;
                opacity: 0.1;
            }
        }
    }
    &__list {
        padding: 20px 0 0 70px;
    }
    &__item {
        font-size: 16px;
        line-height: 38px;
        color: $color-black;
        font-weight: 300;
        &::marker {
            font-size: 16px;
            line-height: 38px;
            color: $color-blue;
            font-weight: 300;
            text-align: center;
            // width: 29px;
            // height: 29px;
            // border-radius: 15px;
            // background-color: rgba(231,243,255,0);
            // border: 2px solid rgba(0,113,227,0.1);
        }
    }
}