.process {
    background: $mission-bg;
    padding: 100px 0 120px 0;
    &__line {
        @include flex-center (space-between);
    }
    &__text {
        max-width: 406px;
        font-size: 17px;
        line-height: 25px;
        color: $color-black;
        font-weight: 400;
    }
    &__arrow {
        width: 36px;
        height: 20px;
    }
    &__title {
        padding: 100px 0 60px 0;
        font-size: 38px;
        line-height: 54px;
        color: $color-black;
        font-weight: 700;
    }
    &__block {
        position: relative;
        width: 218px;
        height: 239px;
        border-radius: 3px;
        background-color: $color-white;
        overflow: hidden;
        &::before {
            position: absolute;
            content:'';
            background: url(../images/process/processArrow2.svg) no-repeat;
            width: 204px;
            height: 20px;
            top: 12px;
        }
        &:nth-child(1)::after {
            position: absolute;
            content:'';
            background: url(../images/process/decor-1.svg) no-repeat;
            width: 120px;
            height: 100px;
            right: -15px;
            bottom: -10px;
            opacity: 0.1;
        }
        &:nth-child(2)::after {
            position: absolute;
            content:'';
            background: url(../images/process/decor-2.svg) no-repeat;
            width: 110px;
            height: 100px;
            opacity: 0.1;
            right: -28px;
            bottom:6px;
        }
        &:nth-child(3)::after {
            position: absolute;
            content:'';
            background: url(../images/process/decor-3.svg) no-repeat;
            width: 100px;
            height: 100px;
            opacity: 0.1;
            right: -25px;
            bottom: -7px;
        }
        &:nth-child(4)::after {
            position: absolute;
            content:'';
            background: url(../images/process/decor-4.svg) no-repeat;
            width: 110px;
            height: 90px;
            opacity: 0.1;
            right: -15px;
            bottom: 5px;
        }
        &:nth-child(5)::after {
            position: absolute;
            content:'';
            background: url(../images/process/decor-5.svg) no-repeat;
            width: 125px;
            height: 100px;
            opacity: 0.1;
            right: -45px;
            bottom: -7px;
        }
    }
    &__row {
        justify-content: space-between;
    }
    &__desc {
        max-width: 195px;
        font-size: 16px;
        line-height: 25px;
        color: $color-black;
        font-weight: 400;
        padding: 50px 0 0 14px;
    }
    &__result {
        position: relative;
        margin-top: 30px;
        padding-top: 30px;
        width: 100%;
        border-radius: 3px;
        background: $color-white;
        cursor: pointer;
        &::after {
            position: absolute;
            content:'';
            border-left: 1px solid $color-blue;
            height: 90px;
            right: 169px;
            top: -49px;
        }
        &.active{
            .result__title{
                color: $color-black;
                text-decoration: none;
            }
        }
    }
    &__list {
        list-style-type: unset;
        &.active {
            display: block;
        }
    }
    &__item {
        font-size: 16px;
        line-height: 35px;
        color: #120f10;
        font-weight: 400;
        &::marker {
            color: $color-blue;
        }
    }
}

.result {
    &__title {
        position: relative;
        text-align: center;
        font-size: 19px;
        line-height: 25px;
        color: $color-blue;
        font-weight: 600;
        text-decoration: underline;
        padding-bottom: 30px;
        &::before {
            position: absolute;
            content:'';
            background: url(../images/process/processArrow2.svg) no-repeat;
            width: 310px;
            height: 20px;
            transform: rotate(180deg);
            right: 170px;
        }
    }
    &__inner {
        position: absolute;
        display: none;
        justify-content: center;
        width: 100%;
        background: $color-white;
        padding-bottom: 36px ;
        overflow: hidden;
        &::before {
            position: absolute;
            content:'';
            background: url(../images/process/flag.svg) no-repeat;
            opacity: 0.1;
            width: 400px;
            height: 400px;
            left: 30px;
            top: -70px;
        }
        &.active {
            display: flex;
        }
    }
}
